@tailwind base;

@tailwind components;

@tailwind utilities;

.h-screen-offset {
    margin-top: -68px;
    padding-top: 68px;
}

.background-icon {
    width: 135px;
    height: 135px;
    opacity: 0.5;
}

.active-item {
    border-left: 8px solid #58DAB4;
    background-color: #EFFBF7;
}

input[type="radio"] {
    display: none;
}

.progress-bar {
    background: linear-gradient(180deg, #58DAB4 74.48%, #4DCEA8 86.46%);
}

.h-24px {
    height: 24px;
}

.h-22px {
    height: 22px;
}

.h-12px {
    height: 12px;
}

.h-10px {
    height: 10px;
}