.h-screen-offset {
    margin-top: -68px;
    padding-top: 68px;
}

.background-icon {
    width: 135px;
    height: 135px;
    opacity: 0.5;
}

.active-item {
    border-left: 8px solid #58DAB4;
    background-color: #EFFBF7;
}

input[type="radio"] {
    display: none;
}